/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIABLES */
:root {
    --header-color: #0084FD;
    --cards-color: #B5DDFF;
    --violet-section-color: #9792E4;
    --free-color: #FDC15F;
    --footer-color: #333333;
}

/* UTILITIES */

.container {
    width: 90%;
    margin: 0 auto;
}

.card {
    width: 100%;
    background-color: var(--cards-color);
    border-radius: 1.2rem;
    /* debug */
    min-height: 400px;
    margin-bottom: 1rem;
}

/* COMMON */

body {
    font-family: 'PT Sans', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

/* HEADER */

header {
    height: 70px;
    width: 100%;
    background-color: var(--header-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.menu {
    height: 100%;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger-symbol {
    color: white;
}

.nav, .header-nav {
    display: none;
}

/* for Tablet (>768px) */

/* for Desktop (992px) */
@media screen and (min-width: 992px) {
    .hamburger {
        display: none;
    }

    .header-nav {
        color: white;
        display: flex;
        gap: 1rem;
    }

    .header-button {
        color: black;
        background-color: white;
        padding: 0.3rem 0.8rem;
        align-items: center;
        border-radius: 1rem;
    }

    .wrapper {
        width: 70%;
        margin: 0 auto;
    }
}

/* MAIN */

/* jumbotorn */
.jumbotron {
    /* debug */
    margin-top: calc(70px + 2rem);
}

/* for Tablet (>768px) */
@media screen and (min-width:768px) {
    .grid {
        display: flex;
        flex-wrap: wrap;
    }

    .card {
        /* debug */
        width: calc(100% / 3 - 10px);
        margin: 1rem 5px;
    }

    .demo-app {
        width: calc(100% / 3 * 2 - 10px);
    }
}

/* for Desktop (992px) */
/* end jumbotron */

/* FOOTER */

/* for Tablet (>768px) */

/* for Desktop (992px) */