/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIABLES */
:root {
    --header-color: #0084FD;
    --cards-color: #B5DDFF;
    --violet-section-color: #9792E4;
    --free-color: #FDC15F;
    --footer-color: #333333;
}

/* UTILITIES */

.container {
    width: 90%;
    margin: 0 auto;
}

.card {
    width: 100%;
    border-radius: 2.5rem;
    /* debug */
    min-height: 200px;
    margin-bottom: 1rem;
}

/* COMMON */

body {
    font-family: 'PT Sans', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
}

/* HEADER */

header {
    height: 70px;
    width: 100%;
    background-color: var(--header-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.menu {
    height: 100%;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger-symbol {
    color: white;
}

.nav, .header-nav {
    display: none;
}

/* for Tablet (>768px) */

/* for Desktop (992px) */
@media screen and (min-width: 992px) {
    .hamburger {
        display: none;
    }

    .header-nav {
        color: white;
        display: flex;
        gap: 1rem;
    }

    .header-button {
        color: black;
        background-color: white;
        padding: 0.3rem 0.8rem;
        align-items: center;
        border-radius: 1rem;
    }

    .wrapper {
        width: 70%;
        margin: 0 auto;
    }
}

/* MAIN */

/* jumbotorn */
.jumbotron {
    /* debug */
    margin-top: calc(70px + 2rem);
}

.jumbo-card {
    background-color: var(--cards-color);
}

/* for Tablet (>768px) */
@media screen and (min-width:768px) {
    .grid {
        display: flex;
        flex-wrap: wrap;
    }

    .grid .card {
        /* debug */
        width: calc(100% / 3 - 10px);
        margin: 1rem 5px;
    }

    .demo-app {
        width: calc(100% / 3 * 2 - 10px);
    }
}

/* for Desktop (992px) */
@media screen and (min-width: 992px) {
    .jumbotron {
        padding-top: 5rem;
    }
}

/* end jumbotron */

/* strategic planning */
.strategic-planning {
    background-color: var(--violet-section-color);
    width: 100%;

    /* debug */
    padding: 2rem 0;
}

.planning-title {
    color: white;

    /* debug */
    font-size: 3rem;
}

.planning-card {
    background-color: white;
}

.planning-card-title {
    text-align: center;
    /* debug */
    font-size: 2.5rem;
}

.planning-paragraph {
    font-style: italic;

    /* debug */
    font-size: 2rem;
}

.arrow-down {
    text-align: center;
    border-radius: 50%;
    background-color: var(--violet-section-color);

    /* debug */
    padding: 1.2rem;
}

/* for Tablet (>768px) */


/* for Desktop (992px) */
@media screen and (min-width: 992px) {
    .wrapper {
        width: 70%;
        margin: 0 auto;
    }

    .strategic-planning {
        display: flex;
    }

    .planning-side {
        width: 50%;
    }
}
/* end strategic planning */

/* testimonials */

.testimonials {
    padding: 4rem 0;
}
.testimonials-indication {
    font-weight: 200;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 1.8rem;
}

.testimonials-title {
    font-size: 2.8rem;
    color: var(--violet-section-color);
    text-align: center;
    padding-bottom: 1.8rem;
}

.testimonials-subtitle {
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 3rem;
}

.testimonials-card {
    background-color: var(--violet-section-color);
    margin-bottom: 2rem;
}

.testimonials-photo {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    object-fit: cover;
}

.testimonial-people {
    text-align: center;
    padding-top: 2rem;
}

.quotation {
    color: white;
    line-height: 2.5rem;
    font-size: 1.6rem;
    padding: 1.5rem 0;
}

.quotation-mark-left {
    vertical-align: super;
}

.testimonials-name {
    font-size: 1.6rem;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    padding-bottom: 2rem;
}

/* for Tablet (>768px) */
@media screen and (min-width: 768px) {
    .testimonials-card {
        padding: 0 1rem;
    }

    .testimonial-people {
        padding-top: 1rem;
    }

    .testimonials-photo {
        float: left;
    }
    .testimonials-photo {
        width: 180px;
        height: 180px;
    }

    .quotation, .testimonials-name {
        text-align: left;
        padding-left: 12.5rem;
    }

    .quotation {
        font-size: 1.2rem;
        line-height: 1.8rem;
    }

}
/* for Desktop (992px) */
/* end testimonials */

/* FOOTER */

/* for Tablet (>768px) */

/* for Desktop (992px) */